<div class="poker-table">
  <!-- Cabecera del juego -->
  <div class="header">
    <h1>Texas Hold'em</h1>
    <div class="header-actions">
      <p>{{ winnerMessage }}</p>
      <button (click)="dealNewGame()" class="btn btn-primary">New Game</button>
    </div>
  </div>
  <!-- Cartas comunitarias -->
  <div class="community-cards">
    <h2>Community Cards</h2>
    <div class="card-container">
      @for (card of communityCards.getCards(); track $index) {
      <app-card
        [imagePath]="'assets/images/' + card.getCardName() + '.png'"
        [interactive]="false"
        [faceDown]="this.getFaceDown($index)"
        class="card"
      ></app-card>
      }
    </div>
  </div>

  <!-- Mesa de juego principal -->
  <div class="game-area">
    <!-- Jugadores oponentes -->
    <div class="opponents">
      @for (player of this.rivalsHands; track player; let i = $index) {
      <div class="player">
        <div class="player-info">
          <h3>{{ this.rivalsHands[i].getLabel() }}</h3>
        </div>
        <div class="player-cards">
          @for (card of this.rivalsHands[i].getCards(); track card) {
          <app-card
            [imagePath]="'assets/images/' + card.getCardName() + '.png'"
            [interactive]="false"
            [faceDown]="!faceUp"
            class="card"
          ></app-card>
          }
        </div>
      </div>
      }
    </div>

    <!-- Panel de acciones del jugador -->
    <div class="actions">
      <h2>Actions</h2>
      <div class="action-buttons">
        <button
          (click)="dealFlop()"
          [disabled]="this.disabledButtons[0]"
          [class.disabled]="this.disabledButtons[0]"
          class="btn btn-danger"
        >
          Flop
        </button>
        <button
          (click)="dealTurn()"
          [disabled]="this.disabledButtons[1]"
          [class.disabled]="this.disabledButtons[1]"
          class="btn btn-primary"
        >
          Turn
        </button>
        <button
          (click)="dealRiver()"
          [disabled]="this.disabledButtons[2]"
          [class.disabled]="this.disabledButtons[2]"
          class="btn btn-primary"
        >
          River
        </button>
        <button
          (click)="evaluateHands()"
          [disabled]="this.disabledButtons[3]"
          [class.disabled]="this.disabledButtons[3]"
          class="btn btn-warning"
        >
          Evaluate
        </button>
      </div>
    </div>

    <!-- Mano del jugador -->
    <div class="player-hand">
      <h2>Your Hand</h2>
      <div class="card-container">
        @for (card of this.playerHand.getCards(); track card) {
        <app-card
          [imagePath]="'assets/images/' + card.getCardName() + '.png'"
          [interactive]="true"
          class="card"
        ></app-card>
        }
      </div>
      <div class="player-info">
        <span>{{ this.playerHand.getLabel() }}</span>
      </div>
    </div>
  </div>
</div>
